absl-py==1.2.0
altgraph==0.17.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
Babel==2.10.3
backcall==0.2.0
BaseExtensions==1.2.6
beautifulsoup4==4.12.0
bleach==6.0.0
blinker==1.6.2
cachetools==5.2.0
catboost==1.2.1.1
category-encoders==2.6.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
cleantext==1.1.4
click==8.1.6
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
DAWG-Python==0.7.2
db-dtypes==1.0.3
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
display==1.0.0
distlib==0.3.6
docopt==0.6.2
efficientnet-pytorch==0.7.1
emoji==2.7.0
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.8.0
Flask==3.0.0
flatbuffers==2.0.7
fonttools==4.37.1
fqdn==1.5.1
fsspec==2023.6.0
gast==0.4.0
gdown==4.7.1
gensim==4.3.2
google-api-core==2.10.0
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.3.2
google-cloud-bigquery-storage==2.15.0
google-cloud-core==2.3.2
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
graphviz==0.20.1
grpcio==1.48.1
grpcio-status==1.48.1
h5py==3.7.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
ipykernel==6.22.0
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.5
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.10
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==3.4.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.6
jupyterlab_server==2.15.1
jupyterthemes==0.20.0
kaggle==1.5.16
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
learntools @ git+https://github.com/Kaggle/learntools.git@52baf8d2c752fbcc4d7a43042ca7418388e3b1af
lesscpy==0.15.0
libclang==14.0.6
llvmlite==0.41.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
mpmath==1.3.0
munch==4.0.0
mysql-connector-python==8.0.33
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
nlpaug==1.1.11
nltk==3.8.1
notebook==6.5.3
notebook_shim==0.2.2
numba==0.58.0
numpy==1.23.2
nvidia-pyindex==1.0.9
oauthlib==3.2.1
onnx==1.14.1
onnxruntime==1.15.1
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==23.0
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.2.0
plotly==5.15.0
ply==3.11
pretrainedmodels==0.7.4
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.22.1
protobuf==4.24.2
psutil==5.9.4
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.4.2
pydotplus==2.0.2
Pygments==2.14.0
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pynput==1.7.6
pynputter==1.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt5-stubs==5.15.6.0
pyreadline3==3.4.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-slugify==8.0.1
PythonDebugTools==2.2.3
pytorch-gpu==0.0.1
pytz==2022.2.1
pywin32==306
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
QDarkStyle==3.1
qtconsole==5.4.1
QtPy==2.3.0
razdel==0.5.0
regex==2023.6.3
requests==2.28.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
safetensors==0.3.1
scikit-learn==1.1.2
scikit-uplift==0.5.1
scipy==1.9.1
seaborn==0.12.0
segmentation-models-pytorch==0.3.3
Send2Trash==1.8.0
shap==0.42.1
six==1.16.0
sklearn==0.0
slicer==0.0.7
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.4
stack-data==0.6.2
statsmodels==0.13.5
stop-words==2018.7.23
sympy==1.12
tenacity==8.2.2
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.1.0
timm==0.9.2
tinycss2==1.2.1
tk-html-widgets==0.4.0
TkinterExtensions==1.9.9
tokenizers==0.13.3
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchsummary==1.5.1
torchvision==0.15.2+cu118
torchviz==0.0.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.32.1
typing_extensions==4.3.0
uri-template==1.2.0
urllib3==1.26.12
virtualenv==20.16.5
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==3.0.0
widgetsnbextension==4.0.6
wrapt==1.14.1
yellowbrick==1.5
